


.aboutwrapper{
    background-color: black;
    
}

.aboutcontent{
    padding-top: 120px;
}

.aboutpic{
    position: absolute;
    right: 0;
}

.head{

    color: #dd4242 !important;
}

.about_right{

    height: 460px;
    /* background-color: #dd4242; */
}