*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    min-height: 80px !important;
}

.carousel-caption{

    bottom: initial;
    top: 58%;
    transform: translateY(-50%);
}

.about_sec{
    height: 95vh;
    background-color: black;
}

.service_sect{
    height: 90vh;
}